html{
	font-size: 62.5%;
}
*{
	margin:0;padding:0;
}
header{
	height: 2.5rem;
	width: 100%;
	padding: 1rem 0;
	background-color: #29bde0;
	display: flex;
	justify-content: space-between;
	font-size: 2.5rem;
	color: white;
	position: fixed;
	top: 0;
}

.headerIcon1{
	height: 2.5rem;
	width:2.5rem;
	background-image: url(../images/31.png);
	background-size: 100%;
	background-repeat: no-repeat;
	margin-left: 2rem;
	margin-top: 0.5rem;
}

.headerIcon2{
	height: 2.5rem;
	width:2.5rem;
	background-image: url(../images/32.png);
	background-size: 100%;
	background-repeat: no-repeat;
	margin-right: 2rem;
}

footer{
	height: 4rem;
	background-color: rgba(41,189,224,0.5);
	position: fixed;
	bottom: 0;left: 0;right: 0;
	display: flex;
	justify-content: space-between;
	padding: 1rem;
	text-align:center;
	font-size: 2rem;
}

.footer1{
	display: block;
	width: 45%;
	color: white;
	background-color: #f66f6f;
	border-radius: 0.5rem;
	margin-left: 2%;
	padding: 1rem 0;
	text-decoration:none;
}
.footer2{
	width: 45%;
	color: white;
	background-color: #fbb435;
	border-radius: 0.5rem;
	margin-right: 2%;
	padding: 1rem 0;
}

.main{
	margin: 4.5rem 0;
}
.part1{
	background-color: #29bde0;
	height: 32rem;
}
@media screen and (max-width: 424px){
	.part1{
	background-color: #29bde0;
	height: 37rem;
}
	
}
h1{
	height: 14rem;
	background-image: url(../images/33.png);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 20rem;
}
.text1{
	width: 80%;
	margin: auto;
	font-size: 2rem;
	font-weight: 600;
	color: #fbb435;
}
.text2{
	width: 80%;
	margin: 3rem 10% 0 10%;
	font-size: 1.5rem;
	color: white;
	white-space: pre;
}

.date{
	padding: 1rem 10% 2rem 10%;
	border-bottom: solid #a2a2a2 0.1rem;
}

.line1{
	display: flex;
	justify-content: space-between;
	padding-bottom: 1rem;
}
.date{
	font-size: 2rem;
}
.time{
	font-size: 1rem;
	color: #a2a2a2;
}
.line2,.line3{
	color: #a2a2a2;
	font-size: 1.8rem;
}