html{
	font-size: 62.5%;
}
body,p{
	margin:0;
	padding:0;
}
body{
	max-width: 52rem;
	margin:0 auto;
}
header,main,footer{
	background-color: #29bde0;
	color: white;
}
header{
	position: fixed;
	top: 0;
	max-width: 52rem;
	width: 100%;
	height: 4rem;
}
.header-flex{
	display: flex;
	justify-content: space-between;
	height: 3rem;
	line-height: 3rem;
	padding:0.5rem;
	font-size: 2rem;
}

.header-img1{
	flex-grow: 0;
	height: 3rem;
}
.header-img2{
	width: 3rem;
	height: 3rem;
	flex-grow: 0;
}
main{
	padding-top: 3rem;
	padding-bottom: 40rem;
}
.card{
	width: 80%;
	height: 30rem;
	margin:4rem auto 0 auto;
	background-color: #ffedc5;
	border:solid 4px white;
}
.num{
	width: 4rem;
	height: 4rem;
	margin:-2rem auto 0 auto;
	background-color: white;
	border:solid 2px #ffedc5;
	border-radius: 50%;
	color:#f56b81;
	font-size: 3rem;
	text-align: center;
}
.card-inner{
	margin:6rem auto 0 auto;
	text-align: center;
}
.main-img{
	width: 172px;
	height: 172px;
}
footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	max-width: 52rem;
	font-size: 3rem;
	padding: 2rem 0;
	
}
.footer-inner{
	width: 85%;
	margin:0 auto;
	padding:0.5rem 0;
	background-color: #fbb435;
	text-align: center;
}